@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfits', sans-serif !important;
    transition: 0.3s ease-in-out;
}

html,
body,
.wrapper {
    height: 100%;
    width: 100%;
    background: var(--white-color);
    background-attachment: fixed;
    background-size: cover;
    transition: 0.3s all;
    scroll-behavior: smooth;
}

/* preloader */
.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}


:root {
    --primary-color: #022e21;
    --secondary-color: #df2b1b;
    --tetiary-color: #239ef0;
    --background-dark-color: #10121A;
    --background-dark-grey: #191d28;
    --border-color: #2e344e;
    --background-light-color: #665b5bca;
    --background-light-color-2: #037fff4d;
    --white-color: #fff;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --sidebar-dark-color: #191d28;
    --scrollbar-bg-color: #383838;
    --scrollbar-thumb-color: #6b6b6b;
    --scrollbar-width: 12px;
}

/* all anchor tags */
a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

/* header section */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 2rem 2rem 0.5rem 2rem; */
    height: 90px;
    font-size: 24px;
    font-weight: 600;

    .logo {
        cursor: pointer;
        color: var(--font-dark-color);
    }

    .logo i {
        color: var(--primary-color);
    }

    input[type="search"] {
        width: 300px;
        height: 40px;
        position: relative;
        border: none;
        border-radius: 10px;
        border-bottom: 1px solid var(--font-light-color);
        border-right: 1px solid var(--font-light-color);
    }

    input[type="search"]::placeholder {
        display: flex;
        align-items: center;
        padding: 5px 10px;
    }

    input[type="search"]:hover {
        box-shadow: 0.1px 0.1px 5px #00000068;
        transform: translateY(-1px);
    }

    .icons {
        i {
            margin-left: 10px;
            color: var(--font-dark-color);
            cursor: pointer;
            transition: 0.3s ease-out;
        }

        i:hover {
            color: var(--primary-color);
        }
    }
}

.NavBar {
    display: flex;
    background: var(--primary-color);
    justify-content: center;
    align-items: center;
    height: 54px;
    z-index: 10;
}

.NavBar li {
    display: inline;
    margin-right: 20px;
}

.NavBar ul li a {
    cursor: pointer;
    color: var(--white-color);
    font-size: 18px;
}

.NavBar ul li a:hover {
    text-decoration: underline;
}

/* The Hero section*/
.hero {
    /* background-image: url(./assets/images/hero.jpg); */
    background: #0000002e;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 80vh;
}

.hero .hero-content {
    flex: 1 1 20rem;
    z-index: 1;
    padding-left: 10rem;

    *{
        margin: 5px 0;
    }

    h1 {
        font-size: 3rem;
        color: var(--font-dark-color);
    }
}

.hero .hero-image {
    flex: 1 1 40rem;
    z-index: 1;
}

.hero .hero-image img {
    width: 70%;
    margin-left: 6rem;
    border-radius: 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.hero .hero-content button {
    background: var(--primary-color);
    border-radius: 5%;
    color: var(--white-color);
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px black;
}

.hero .hero-content button:hover {
    transform: translateY(-1px);
}

/* Main Section*/

/* catalogue section */
h2 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin: 2rem 0;
}

.section-title {
    margin: 2rem 0 2rem 0;
}

/*--------------------------------------------------------------
# cat.catalogue
--------------------------------------------------------------*/
.catalogue .catalogue-carousel,
.catalogue .catalogue-slider {
    overflow: hidden;
}

.catalogue .cat-item {
    box-sizing: content-box;
    min-height: 320px;
    background: transparent;
    border-radius: 10px;
    border-right: 0.1px solid var(--font-light-color);
    border-bottom: 0.1px solid var(--font-light-color);
    display: grid;
    place-items: center;
    transition: 0.3s ease-in-out;

    button {
        display: none;
        position: absolute;
        background: var(--primary-color);
        border-radius: 5%;
        color: var(--white-color);
        border: none;
        cursor: pointer;
        font-size: 18px;
        width: 100px;
        height: 30px;
        margin-top: 10px;
        box-shadow: 1px 1px 5px black;
    }
}

.catalogue .cat-item:hover {
    background: #00000085;

    button {
        display: block;
    }

}



.catalogue .cat-item .cat-img {
    width: 90px;
    border-radius: 50%;
    margin: -40px 0 0 40px;
    position: relative;
    z-index: 2;
    border: 6px solid #ffffff33;
}

.catalogue .cat-item h3 {
    font-size: 22px;
    font-weight: bold;
    color: var(--white);
}

.catalogue .cat-item h4 {
    font-size: 18px;
}

.catalogue .cat-item p {
    font-style: italic;
    padding: 5px 10px;
    border-radius: 6px;
    z-index: 1;
}

.catalogue .swiper-pagination {
    margin-top: 30px;
    position: relative;
}

.catalogue .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #00000033;
    opacity: 1;
}

.catalogue .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

/* Arrival section */
.arrival{

    .container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
}


/* End of Arrival Section*/


/* Deal seection*/
.deals-off{
    padding: 2rem 4rem;
    height: 50vh;
    background: transparent;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 5px;


    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content{
            flex: 1 1 20rem;
            h2{
                text-align: start;
                font-weight: 600;
            }
            button {
                background: var(--primary-color);
                border-radius: 5%;
                color: var(--white-color);
                border: none;
                cursor: pointer;
                font-size: 18px;
                width: 100px;
                height: 30px;
                margin-top: 10px;
                box-shadow: 1px 1px 5px black;
            }
            button:hover{
                transform: translateY(-1px);
            }
        }
    }

}

/* End of deal section */

/* Team section */
.blog{
    height: 90vh;

    .blog-container{
        padding: 1rem 10rem;
        height: 40vh;
        display: flex;
        justify-content: space-between;

        .blog-content{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: start;

            h2{
                display: flex;
                justify-content: start;
            }
            h4{
                display: flex;
                justify-content: start;
            }
        }
    }


    .container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;

        .cards{
            width: 16rem;
            height: 250px;
            padding: 1rem;
            border-right: 1px solid var(--font-light-color);
            border-bottom: 1px solid var(--font-light-color);
            border-radius: 10px;
            display: grid;
            place-items: center;
            transition: 0.3s ease-in-out;
            overflow-y: hidden;

            img{
                /* width: 14rem; */
                height: 140px;
            }

            .content{
                display: grid;
                place-items: center;
                text-align: center;
                margin: 5px 0;

                h4{
                    margin: 5px 0 10px 0;
                }
                p{
                    margin: 5px 0 10px 0;
                }

                .social{
                    display: block;
                    font-size: 30px;
                    margin-top: 10px;
                }
            }
        }
        .cards:hover{
            .content{
                transform: translateY(-2.7rem);
            }

            .social{
                display: block;
            }

        }

    }
}

footer{
    position: sticky;
    height: 30vh;
    background: var(--font-dark-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    h3{
        color: #fff;
    }


    .link{

        li{
            list-style: none;
            color: #fff;

            a{
                margin-left: 5px;
            }
        }
    }
}